body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 150px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin-right: 150px;
}

li {
    display: inline;
    padding: 15px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.section-left {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder; 
    color: #F9FAF8;
}

.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.section-right {
    padding: 10px;
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.section-2 { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    height: 444px;
}

.header-2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 50px;
}

.card-image {
    border: #1F2937;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;

}

.card p {  
    text-align: center;
}


.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 10px;
    height: 400px;
}

.quote-1,
.quote-2 {
    font-style: italic;
    color: #1F2937;
}

.quote-1 {
    font-size: 36px;
    text-align: center;
    text-align-last: left;
    margin-bottom: 0px;
}

.quote-2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 600px;
    margin-top: 0px;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bluebox { 
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 50px;
}

.bluebox-left {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.bluebox-firstline,
.bluebox-secondline {
    color: #F9FAF8;
}

.bluebox-firstline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bluebox-secondline {
    font-size: 16px;
    margin-top: 5px;
}
.bluebox-right { 
    height: 40px;
    margin-top: 25px;
    margin-left: 250px;
}

.button {  
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border-style: solid white;
    border-width: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
    height: 80px;
}
